body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
main {
  flex: 1;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.custom-max-width {
  max-width: 287px;
}
/* Cambiar el color de la navbar cuando se pasa el cursor sobre ella */

.decoration-no {
  text-decoration: none;
}

.sidebar {
  min-width: 250px; /* Ancho mínimo de la barra lateral */
  max-width: 250px; /* Ancho máximo */
  background-color: #f8f9fa; /* Color de fondo */
  height: 100vh; /* Altura completa de la ventana */
  padding: 1rem; /* Espaciado interno */
  border-right: 1px solid #ddd; /* Línea divisoria */
}

.content {
  flex: 1; /* Usar el espacio restante */
  padding: 1rem; /* Espaciado interno */
}
